@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<UserViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Gebruikersnaam</th>
            <th>Rollen</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
                <td>@string.Join(", ", user.Roles)</td>
                <td>
                    <form asp-action="Delete" asp-route-userId="@user.UserId" method="post" onsubmit="return confirm('Weet je zeker dat je deze gebruiker wilt verwijderen?');">
                        <button type="submit" class="btn btn-danger">Verwijderen</button>
                    </form>

                </td>
                <td>
                    <!--Hardcoded want het werkte niet xd-->
                    <a href="/user/updaterole?userid=@user.UserId">Update Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>
